/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.swal-modal{
  background-color: #E0EAF1;
  font-family:Roya ;
}

.swal-button{
  background-color: #519D9E;
}

.swal-icon::after{
  background-color: #E0EAF1;
}
.swal-icon::before{
  background-color: #E0EAF1;
}
.swal-icon--success__hide-corners{
  background-color: #E0EAF1;
}